[2014-03-13 15:40] ethanwhite opened #1 "Add existing code from Coyle et al."
@jescoyle when you get the code from Coyle et al. ready for Dryad could you also add the reusable pieces here so we can build off of them. Thanks!

[2014-05-15 17:25] ahhurlbert opened #3 "create progress report page"

[2014-05-15 17:26] ahhurlbert opened #4 "create dataset table to be stored as csv"

[2014-05-15 17:36] ahhurlbert opened #5 "create organizational account and initial folder structure"

[2014-05-15 17:40] ahhurlbert opened #6 "email Jen Caselle about acquiring dataset"
Long Term Monitoring of Kelp Forest Fish: larvae
Channel Islands, ca
Caselle et al. 2010 Bulletin of Marine Sciences

[2014-05-15 17:58] ahhurlbert opened #7 "create data submodule"

[2014-05-17 18:05] #4 closed, assigned to nobody

[2014-05-18 16:27] ahhurlbert opened #8 "separate environmental from community dataset lists?"
My inclination is to keep list of environmental data separate from the master community dataset table since there will be different attributes we are interested in for each.

Pros/cons/thoughts?

[2014-05-18 16:27] ahhurlbert opened #9 "environmental dataset: daymet"
New 1 km daily climate data for continental US:

http://daymet.ornl.gov/

[2014-05-20 20:04] #9 closed, assigned to nobody

[2014-05-20 20:05] #8 closed, assigned to nobody

[2014-05-23 17:36] bsevansunc opened #10 "What to do with data sets that are not accessible via EcoData Retriever"
I've added a dataset that I pulled from a pdf (COM01Z Beven 1977 and Williamson 1989). How might we make this dataset, and others like it, accessible in the EcoData Retriever?

[2014-05-26 20:27] bsevansunc opened #11 "EcoData Retriever learning curve"
I've gotten an this error when I try to install my code: "SyntaxError: Non-ASCII character '\xa0' in file /home/bsevans/.retriever/scripts/EDR-retrieve_COM02Q.py on line 10, but no encoding declared; see http://www.python.org/peps/pep-0263.html for details". Looked through the script for a while and couldn't figure out the problem. Can you check through "Retriever-scripts/EDR-retrieve_COM02Q.scrip

[2014-06-22 17:59] bsevansunc opened #12 "Letter to authors requesting data"
Added the sample letter to authors for data request (written to Dr. Shapiro to request butterfly community data). Please check and add/remove/edit. Let me know when we're at the final copy and I will start sending out data requests.

[2014-10-02 17:11] #5 closed, assigned to ahhurlbert

[2014-10-02 17:12] #3 closed, assigned to nobody

[2014-10-02 17:12] #7 closed, assigned to nobody

[2014-10-02 17:25] ahhurlbert opened #14 "make core-transient-datasets a submodule of core-transient? @ethanwhite"

[2014-10-09 19:20] bsevansunc opened #16 "Check through initial lines of one of the data cleaning scripts?"
Basically, I want to know if the following example is an approved workaround to the setwd problem.

An example (beginning and end snippet of  code that formats dataset 232 ... data/core-transient-datasets/data_cleaning_scripts/dwork_232.R):
# Dataset 232: Sevilleta small mammals
# Load libraries:

library(plyr)
# Set read and write directories:

in_dir = 'raw_datasets'
out_dir = 'formatted_dataset

[2014-10-10 02:28] #14 closed, assigned to nobody

[2014-10-10 02:31] #16 closed, assigned to ethanwhite

[2014-10-14 16:24] bsevansunc opened #17 "Allen -- could you add me ..."
Could you add me to the folder core occasional diversity in PBWorks? Thanks!

[2014-10-15 10:37] #17 closed, assigned to ahhurlbert

[2014-12-23 21:47] bsevansunc opened #18 "histograms and beta distributions"
I've updated the histogram plots. The beta distribution is now shown between 1/nTime and 1-1/nTime where nTime is the number of time intervals in the sample.  I've noticed that the beta distribution doesn't seem to be capturing the distribution of the data on the left side of the plot (towards transients). Prior to making more of these, I'm going to move onto to making the summary plots across sit

[2015-01-03 20:00] ahhurlbert commented on #18
I don't think 1-1/nTime should be the upper limit of the interval over which beta is shown. For example, see p. 494. The line should extend to the equivalent of halfway through the bar representing 1.0. But separate from how much of it we should see, perhaps we need to revisit how it's being fit (e.g. is it being fit to some scaled data, and then rescaled back; are these choices appropriate, etc..

[2015-01-03 22:33] bsevansunc commented on #18
Sounds good, will look into it. Also, I put more plots up in the plots
folder, let me know what you think and I'll adjust as needed.
On Jan 3, 2015 3:00 PM, "ahhurlbert" <notifications@github.com> wrote:

[2015-01-04 00:24] ahhurlbert commented on #18
They look good. I'm thinking an alternative to the plots showing average percent core and transient by system and taxa would be a stacked bar showing core, neither, and transient in that order. This means we lose the ability to easily show variation within a group (i.e. the error bars), but it might help make it easier to see the extent to which species truly tend to be in one of the extreme modes

[2015-01-07 19:49] ahhurlbert opened #19 "Dataset prioritization"
Can we add a Priority column to the data_sources_table? This will allow others (e.g. Zack) to know where to initially focus efforts.

Make this categorical (4 or 5 categories) based on a sort of nTimes and nSites and underrepresented taxa...

[2015-01-07 19:58] bsevansunc commented on #19
Will do. Also, this morning I added a plot of bimodality (y axis) by the
number of individuals at a site (x axis) to the output folder
-> output/plots/bimod_by_indiv.pdf

Is this the plot you were looking for (note: in rough draft form), or
should I be scaling bimodality by the number of individuals? If the latter,
we should discuss how this would work. I'll be back in the lab tomorrow.

Brian S E

[2015-01-12 21:03] mauriemma opened #20 "species assignments dataset 223"
Questionable removal of species names "DEAD", "seed", "seeds1", etc.  Check metadata for species list code names

[2015-01-22 20:05] mauriemma opened #21 "date assignment for dataset 208"
After finding insufficient record data on a per-day basis, I limited the data to per-month and it seems that there is plenty of data to be cleaned as per-month.  But I don't know a good way of converting year- month from this format (2003-05) to decimal years in the dataset.  Month ranges where data was taken in this set are May-Sept only and shorter periods within that range.

[2015-01-22 20:09] bsevansunc commented on #21
substring the year character string and convert to numeric. Do the same with the month character string. Create a new decimal month numeric vector by dividing the month by 12. Add the year and and decimal month numeric vectors.

[2015-01-29 20:58] mauriemma opened #22 "REMINDER: Michael needs access to data submodule"
Title pretty much explains it all..

[2015-01-30 20:01] bsevansunc commented on #22
Hi Michael, can you check whether you can access the data folder online? Either click on the data hyperlink on https://github.com/hurlbertlab/core-transient or go to https://github.com/hurlbertlab/core-transient-datasets
Thanks!

[2015-01-30 20:48] bsevansunc commented on #22
Ethan -- I now have the sub-repository working fine on my computer and am unsure as to why Michael can't push and pull into it. Allen just did -- git submodule init -> git submodule update and got a permission error on the update. Are we missing a step? What are the steps required?

[2015-01-31 19:18] ahhurlbert commented on #22
@ethanwhite Specifically, how should I go about cloning the repo / sub-repo combo on a new machine? Just clone the main repo, and then the git submodule commands? Getting a permissions / key error, SSH-related? Obviously I got this to work on my office machine at some point....

[2015-01-31 20:14] ethanwhite commented on #22
It should be:

[code]

It sounds like you have a permissions issue, but in checking this out it also appears that someone rewrote the history in `core-transient-datasets` at some point, which is now resulting in git trying to checkout a commit from that repository that doesn't exist. I'll see about fixing that now. To address the permissions problem I'll probably need to Skype in and look at what'

[2015-01-31 20:20] ethanwhite commented on #22
There were a couple of typos in the commands above. I've fixed them now.

[2015-01-31 20:21] ethanwhite commented on #22
OK, after the fix in 6ae3d7373fb9384c27bdeffeae6ada4b82dcb79b the commands above work fine using properly configured ssh keys. It should also work using https, but I haven't tested it. I'm happy to set up some time to screen share and figure out what's going on with individual computers if there are still issues.

[2015-02-01 02:25] ahhurlbert commented on #22
@ethanwhite
git clone git@... did not work ("Permission denied (publickey)") but
git clone https://... did. But then subsequent steps did not:

[code]

So it seems it is a key issue that maybe would go away if I were able to git clone the main repo using git@github.com in the first place?

[2015-02-02 16:30] ethanwhite commented on #22
Ah, I see. I set this up to use ssh keys, see:
https://github.com/hurlbertlab/core-transient/blob/master/.gitmodules

So, in order to use this folks would need to use keys. I'm also happy to change this if the people regularly accessing this would rather use https.

[2015-02-02 16:31] ethanwhite commented on #22
Let me know whether you'd like me to change this or help folks set up keys. Here's a good starting point for keys:
https://help.github.com/articles/generating-ssh-keys

[2015-02-04 15:36] mauriemma opened #23 "general question about converting dates to decimal-year"
In changing months+years to decimal-year by dividing the month by 12 then added the value to the actual year, am I supposed to leave December observations as 1, thus adding 1 to the year of the observation?

[2015-02-04 16:14] ahhurlbert commented on #23
@mauriemma I would add (month - 1)/12 to the year, so that
Jan = 2014.0
Feb = 2014.08
Mar = 2014.17
...
Dec = 2014.92

[2015-02-04 16:26] ethanwhite commented on #23
This is probably something that's been decided elsewhere, in which case my apologies for jumping in, but this sort of conversion of year and month into a single decimal value seems like it might be a bit confusing. Is there a reason not to either store month and year in separate columns or use an ISO standard date format, e.g., '2014-01', '2014-02'...

[2015-02-04 17:03] bsevansunc commented on #23
My thinking on the decimal years essentially refers to ease of working with date data. I can see using YYYY-mm if samples were compiled monthly (or YYYY for annually sampled sites). There are datasets, however, in which sites were sampled seasonally (e.g., dataset 223, Lightfoot's small mammal study). In these cases, coding as a year-month would be problematic and sampling data need to be summariz

[2015-02-04 17:16] brymz commented on #23
I would suggest that you reconsider condensing so much info into one
column. With computing power where it is today, the number of columns will
not have a large impact on the analysis run time. I would recommend
something like; three columns for year, sampling frequency, and sampling
event (as a number from 1 to total sampling events) OR two columns for
year, and sampling day (in Julian days). Jul

[2015-02-04 19:53] ahhurlbert commented on #23
Thanks for the feedback from both of you and I appreciate both @ethanwhite and @brymz 's intention of making things easily sharable for others and others' uses. That said, I believe these formatted datasets are already a bit down the pipeline toward some specific analyses we have in mind for which we have already had to make decisions that should not be embraced without some thought. This means th

[2015-02-04 20:02] ethanwhite commented on #23
I guess the take home here is that these don't really represent dates in any meaningful sense since they are simultaneously integrating a variety of different things. For the purposes of our analyses I guess they're really just the sampling periods that we have defined for each dataset. Is that fair to say?

[2015-02-04 21:49] ahhurlbert commented on #23
Yes, fair to say. Having said all this, @bsevansunc just suggested having our "formatted datasets" be something a bit more generic and upstream in the workflow than they currently are which would maintain all info at the finest spatial and temporal grains of sampling (including raw dates and site ids). In this case, the "formatting" would be cleaning up some very basic issues with the data, and th

[2015-02-04 22:24] ethanwhite commented on #23
Since we're really just using `date` here as `sampling period` and we're having a script do that conversion for us based on the raw data, which makes it reproducible/understandable, I think it's that fine for the `sampling period` column to have something arbitrary in it. The key is just for all of us to keep track of that fact that that column is really more ordered sampling periods than dates pe

[2015-02-04 22:39] brymz commented on #23
I'll echo @ethanwhite. It's good for us to be on the same page. No reason
to make more work beyond that.

[2015-02-10 20:00] mauriemma opened #24 "broadening lat-lon site data for dataset 97"
This dataset (ArcOD Plankton) has sites listed by catch method (ie general location, net type, mesh size) and lat-long all within the same string of each row.  There is a wide variety of decimal places that each lat-long is listed by, and because of that there are a ton of unique sites that have very low sample sizes.  Since there are so many different lengths of each string, I'm not sure that I c

[2015-02-10 20:09] bsevansunc commented on #24
Hey Michael, hold off on that dataset for now, as well as any lat-long
based dataset. In our meeting yesterday afternoon we decided we need to
change course slightly on datasets for which sites are derived using
lat-longs. If you need a dataset to format, a good place to go at this
point would be to re-format dataset 208. I'll sit with you a bit tomorrow
if you're around to describe the new workfl

[2015-02-12 20:07] mauriemma opened #25 "checking Michael's script for weekly designation of decimal year (dataset 208)"
Just posting this as a heads up to check over my script for cleaning the year column for dataset 208.  I think I did all the correct simple math to get decimal year in a weekly format.  But I could also be way off....

[2015-02-12 20:09] mauriemma commented on #25
Also, I posted the new file in the data submodule as "dataset_208_new", I didn't want to stir any issues trying to replace the old 208 file.

[2015-02-12 20:14] bsevansunc commented on #25
Technically, the time is just identifiers, so it should be fine. I'll have
a look over your code tomorrow though. I'll also have the new formatting
code in place by then and we can walk through it on Monday.

Brian S Evans

(o>
/  )
 *||*  ----------------------------------------
PhD candidate
Ecology Curriculum
University of North Carolina
Biologist/Spatial Analyst
Smithsonian Migratory Bird Cent

[2015-02-26 23:50] ahhurlbert opened #26 "help / instructional files vs README.md"
@bsevansunc The current README.md has useful info but is probably better renamed as something else (instructions.md, or something more descriptive). The README.md is the project home page and will eventually have text that is a basic description of the project, its goals, approaches, etc. That page can then link to the instructions page.

Low priority, but eventually.

[2015-02-27 17:51] bsevansunc opened #27 "time strikes again"
Michael, Allen and I just talked about the temporal grain issue and decided that **annual** samples should be the default. This is simplify the process further because you will no longer have to make any temporal grain decisions when creating the propOcc data frame. I will change the formatting template today.

[2015-02-27 18:41] ahhurlbert commented on #27
@mauriemma @bsevansunc Note that if you refer to the Github username in your message/issue, they will receive an email notification regardless of whether they're following the repo.

Can be useful as an alternative to "assigning" an issue if you're just notifying or having a chat.

[2015-03-13 18:42] ahhurlbert opened #28 "Field name for data with sites only designated by latlongs"
In the data_source_table.csv, this is called "LatLon_FLAG" and takes a 1 or 0, but in the new data_formatting_table.csv it is called "LatLong_sites" and takes Y or N.

I think the most consistent and interpretable solution is to use the former field name and the Y/N values for both.

[2015-03-19 20:10] mauriemma opened #29 "no count field for dataset 234"
there are no fields that represent count in this dataset.  But there are several occurrences of single species at each site and time sample, so I believe count can be extracted.  Would ddply be best for this situation?

[2015-03-31 13:01] ahhurlbert opened #30 "choosing levels of spatial & temporal subsampling"
@bsevansunc

For each site:
  For every combination of w (spatial subsampling) and z (temporal subsampling):
    Count the number of years of data exceeding these thresholds
    If Count > YearThreshold (i.e. min # years to calc occupancy in a dataset)
      That site, w, z, combination is assigned a value of 1
    Else
      0
   end
end

Summing those values across w, z combinations gives the nu

[2015-03-31 20:58] bsevansunc commented on #30
Finished creating the script that does this, will test on the test datasets tomorrow.

[2015-04-01 17:32] mauriemma opened #31 "no count field in sevilleta dataset 232"
No 'count' data for this dataset. Not sure where to go from here.  Check out the saved scripts I have so far to see what direction we could possibly take it.  Also, on a side note can you confirm the nested sites concatenated here as well?

[2015-04-01 22:27] ethanwhite commented on #31
Looks like this is the Sevilleta rodent data. Each line in the raw data is an individual organism, so in order to get counts for a date/site/species combination you'll need to group the data by the relevant fields and count the number of relevant columns and get counts of the number of rows for each grouping.

[2015-04-06 16:28] mauriemma opened #32 "problem with dataFormattingUpdate function"
Not sure what the issue is with the function, but it returns this error:
"Error in unique.default(x) : unique() applies only to vectors"

[2015-04-06 16:44] bsevansunc commented on #32
Which dataset? I'll look through your script this afternoon.
On Apr 6, 2015 12:29 PM, "mauriemma" <notifications@github.com> wrote:

[2015-04-06 16:53] mauriemma commented on #32
Had the problem with both 71 and 120

[2015-05-04 16:41] mauriemma opened #33 "site issues with datasets 124 and 97"
these datasets have sites with a lot of unnecessary info, except for lat-long data.  All the data is separated by underscores, but data has varying numbers of types of info and varying numbers of characters.  So couldn't exclusively separate lat_longs from the rest of the data.  As of now, the sites in the formatted version of the dataset are just the last grouping of characters in the site data t

[2015-05-26 20:55] #22 closed

[2015-05-26 20:56] #19 closed

[2015-05-26 20:56] #11 closed

[2015-05-26 20:56] #20 closed

[2015-05-26 20:58] ahhurlbert commented on #21
We tried this for awhile but then decided that almost all datasets will have an annual temporal resolution. This should be the default level at which data are temporally aggregated unless there is obvious reason to go finer which should be well documented in the data cleaning script.

[2015-05-26 20:58] #21 closed

[2015-05-26 20:58] #25 closed

[2015-05-26 20:59] #27 closed

[2015-05-26 21:10] ahhurlbert commented on #29
Yes, for small mammal datasets and bird banding datasets, every row represents an individual and so count must be extracted by summing rows over time and site id's. Is currently done using ddply in the data cleaning script.

[2015-05-26 21:10] #29 closed

[2015-05-26 21:11] #31 closed

[2015-05-26 21:11] #32 closed

[2015-05-26 21:12] #12 closed

[2015-05-26 21:13] ahhurlbert commented on #26
@bsevansunc The README.md is now officially high priority!

[2015-05-26 21:13] #23 closed

[2015-05-26 21:25] ahhurlbert commented on #1
Our current approach is more generic than what was used for the BBS paper.

[2015-05-26 21:25] #1 closed

[2015-06-26 19:08] wlarsen2 opened #34 "Site issues in datasets 71 and 72"
For both of these datasets, the raw site entries have a lot of unnecessary information separated by underscores. I am not sure which information should be used, and it is difficult to remove unnecessary information because of the varying lengths of each entry.

For example (Dataset 71):

"Russia_White_Sea_E35_Kandalaksha_Bay_90_bottle_category_changed_from_unidentified_flagellates"

For dataset 71

[2015-06-26 19:12] ahhurlbert commented on #34
Will,

Can you repost with 1 dataset per issue

Thanks,
Allen

From: wlarsen2 [mailto:notifications@github.com]
Sent: Friday, June 26, 2015 3:09 PM
To: hurlbertlab/core-transient
Subject: [core-transient] Site issues in datasets 71 and 72 (#34)

For both of these datasets, the raw site entries have a lot of unnecessary information separated by underscores. I am not sure which information should be

[2015-06-26 19:50] wlarsen2 opened #35 "Dataset 71 site issue"
For this dataset, the raw site entries have a lot of unnecessary information separated by underscores. I am not sure which information should be used, and it may be difficult to remove unnecessary information because of the varying lengths of each entry.

For example (Dataset 71):

"Russia_White_Sea_E35_Kandalaksha_Bay_90_bottle_category_changed_from_unidentified_flagellates"

For dataset 71, the

[2015-06-26 19:59] wlarsen2 opened #36 "Dataset 72 site issue"
For this dataset, the raw site entries have a lot of possibly unnecessary numbers and letters separated by underscores. I am not sure which information should be used, and it may be difficult to remove unnecessary information because of the varying lengths of each entry.

For example (dataset 72):

2ws98__10_B-2_270_100_200

For dataset 72, which is not on OBIS, I could only find a paper which use

[2015-06-26 20:00] wlarsen2 commented on #34
Sorry about that! They are in separate issue posts now.

[2015-06-30 13:09] wlarsen2 opened #37 "Dataset 85 years and sites different from source dataset"
I couldn't find any useful metadata for this dataset, but I found the original dataset online at http://www.emodnet-biology.eu/portal/index.php?dasid=1037# (Click on 'datasets' and then the 'show data' icon under view). It seems like dataset 85 in the raw datasets folder is a subset of the original that only includes years 1992-2003, though the original goes back as far as 1986. More importantly,

[2015-06-30 13:10] #34 closed

[2015-06-30 15:01] ahhurlbert commented on #30
The core-transient_functions no longer attempt to identify levels of spatial and temporal subsampling objectively, but rely on the user to define those scales. The functions simply confirm whether there are data that are sufficient for analysis at those scales.

[2015-06-30 15:01] #30 closed

[2015-07-11 00:52] ahhurlbert opened #38 "site summaries with mean abundance"
Just added site-level mean abundance to the summaries, but this has only been run for dataset 208 so far. Need to run on all other datasets before synthesis can begin.

[2015-07-11 18:58] ahhurlbert commented on #37
@wlarsen2

Yes. Please download this other raw dataset and replace the one currently in the data/raw_datasets folder.

Process as a lat-long dataset.

[2015-07-11 19:00] ahhurlbert opened #39 "Delete old data cleaning scripts by mca"
@wlarsen2 Go ahead and delete any old scripts (using "git rm <filename>") by 'mca' for datasets where you have created a new script yourself.

[2015-07-11 19:03] ahhurlbert opened #40 "4th of July butterfly dataset?"
@ethanwhite Do we have permission to use their data for this project? Can you secure permission and/or add the data to our data/raw_datasets folder?

[2015-07-13 15:01] ethanwhite commented on #40
I don't have permission to use it for this and actually I only have a single year of the data at this point (because I was advised, several years ago, that all sites for all years would be a big ask).

I'll put getting the data and permission on my To Do list.

[2015-07-13 15:24] ethanwhite commented on #40
Email sent.

[2015-07-28 19:54] ahhurlbert opened #41 "CalCOFI datasets to include"
Data on phyto-, zoo-, and ichthyoplankton in the California Current between 1951 to 2008 here:

http://www.calcofi.org/data.html

See recent publication on ichthyoplankton in PNAS:
http://www.pnas.org/content/112/30/E4065.abstract.html?etoc

[2015-07-29 17:42] ahhurlbert opened #42 "obtain Christmas Bird Count data"
@ethanwhite Can we use this dataset with your existing MOU or do we need to request a new one?

[2015-07-29 17:50] ethanwhite commented on #42
Just looked at the MOU and it would be a bit of a stretch. I can go ahead and start a new application that will cover this if that sounds good to you?

[2015-07-29 17:53] ahhurlbert commented on #42
Sounds good.

[2015-07-30 00:55] ethanwhite commented on #42
The request has been sent.

[2015-07-30 00:56] ethanwhite commented on #40
Our request is officially under review.

[2015-07-31 12:44] ethanwhite commented on #42
Response from CBC. They are happy to share the data, but they are now taking "a more active role in collaborating with potential users" and want a phone call to discuss "mutually-beneficial collaboration leading to shared publications". So we'll need to chat about whether this is something we are interested in juggling. I'll set up some time to talk with them more generally about stuff after ESA.

[2015-08-03 18:02] #26 closed

[2015-08-03 18:03] #18 closed

[2015-08-03 18:14] ahhurlbert opened #43 "dataset 99 source unknown"
Origin of this dataset is unknown. Data cleaning scripts reference http://gcmd.nasa.gov/records/GCMD_cmar_wh.html which refers to the CSIRO Marine Data Warehouse. A dataset called "csiro_warehouse" is available on OBIS with 106,513 records (metadata refers to ~106,000 records).

However, raw dataset in our repo (dataset_99.csv) has only 43,933 records with very different fields, although the extre

[2015-08-04 21:29] ahhurlbert opened #44 "dataset 67 raw data source unknown"
Dataset 67 is the Coordinated Waterbird Count with metadata here: http://gcmd.gsfc.nasa.gov/KeywordSearch/Metadata.do?Portal=GCMD&MetadataType=0&MetadataView=Full&KeywordPath=&EntryId=[GCMD]adu_cwac

project website here: http://cwac.adu.org.za/index.php

and data available from OBIS (Resource ID 603, "Animal Demography Unit - Coordinated Waterbird Counts (CWAC) (AfrOBIS)").

Data can be viewed in

[2015-08-04 21:53] ahhurlbert opened #45 "dataset 70, independent data on "vagrants" or "errants""
The Belgian Migrating Lepidoptera Survey (originally at http://www.club.innet.be/~pub00644, but now only available through archive.org:
(https://web.archive.org/web/19990220041409/http://users.skynet.be/bs663526/)

For an analysis validating core-transient designations based on temporal occupancy, we can use the author's (semi)-independent classification of species in Belgium here:
https://web.arc

[2015-08-05 13:06] ahhurlbert opened #46 "dataset85, missing records and metadata?"
"North Sea observations of Crustacea, Polychaeta, Echinodermata, Mollusca and some other groups between 1986 and 2003", data are available from OBIS (Resource ID 251) but OBIS indicates 35,886 total records while our raw dataset file has 30,000. Perhaps some truncation and loss at some point?

Also, metadata links are uninformative about methods (like this one: http://www.emodnet-biology.eu/data-c

[2015-08-05 13:30] ahhurlbert opened #47 "dataset 87, missing records?"
Phytoplankton in the Oosterschelde (OBIS Resource ID 505) has 8,311 records according to OBIS but our raw dataset file (data/raw_datasets/dataset_87.csv) has only 897.

[2015-08-05 14:35] ahhurlbert opened #48 "dataset 91, missing records, conversion from source"
Baltic Seabirds Transect Surveys (OBIS Resource ID 2260) has 23,138 records available from OBIS while the raw dataset in our repo has only 6262 records.

OBIS data has only 44 taxa, and no abundance data.
Our raw dataset has 68 unique taxa and includes abundance data (summed abundance = 340122). Not sure of the provenance of our raw dataset.

Beginning to think that we should eliminate all marine/

[2015-08-11 19:05] ahhurlbert opened #49 "analyze abundance vs mean occupancy"
Make this a standard analysis for every dataset, just as we did in the Coyle et al. 2013 supplementary information, since one obvious question is "does the core-transient distinction" simply reflect common-rare.

In some datasets, that may be the case

[2015-09-10 15:11] ahhurlbert opened #50 "Breeding Bird Census data for independent assessment of transients"
Breeding Bird Census in North America counts the number of breeding territories of all species within fixed areas, and independently lists "Visitors" which were not observed to have a territory. There should be ~hundreds of sites, many of which are sampled repeatedly.

Problem is data are in paragraph form in pdf files, need to be extracted. See, e.g., https://sora.unm.edu/sites/default/files/jour

[2015-09-10 15:38] ethanwhite commented on #50
If you can describe what we want to extract I'd be happy to take a go at ripping it out.

[2015-09-10 15:43] ahhurlbert commented on #50
Below is the format of the data. Numbered site with site name in all caps. Really we want to pull out everything between "Census:" and "Total:", as well as the list after "Visitors:". But note below that because the pdf is on the older side, there are many issues with spacing of words and letters. For example, below is the text "Pacific-slopFe lycatcher2", which should be "Pacific-slope Flycatcher

[2015-09-17 13:47] ahhurlbert commented on #50
Ok, I think this is now doable if you have time to work on it. I just cleaned up the pdf using Acrobat's internal OCR, and then copying and pasting the text seems to work fine.

So here is a first take at what we want to pull out. Could be two files linked by Site Number and Year, or could be one big flat file, whatever is easiest:

Site Number
Location
Latitude
Longitude
Coverage_NumHrs
Coverage_

[2015-10-12 23:36] ethanwhite commented on #50
UPDATE: I worked on this all the way back from CA yesterday. I've made some decent progress including further improving the OCR using tesseract and starting to extract chunks from the text. Successfully parsing this automatically is definitely a bit tricky, but I'm making progress.

Current state of the code is here:
https://github.com/ethanwhite/core-transient/blob/text-mining/bbc-text-mining.py

[2015-10-15 00:18] ethanwhite commented on #50
This is a pretty gnarly problem. I like it :smiling_imp:

[2015-10-15 00:28] ethanwhite commented on #50
Notes:

1. First step is to split major chunks which can be done by splitting on blank lines (to avoid splitting the major data paragraph)
    * This is tricky because the page headers break up chunks in inconsistent ways (oh and there are different headers on alternating pages). I'm going to try to tackle this by automatically cropping out the header.
2. The individual chunks will then need to be

[2015-10-15 00:58] ahhurlbert commented on #50
@ethanwhite Awesome that you are tackling this. Ethan, I introduce to you Molly @mollyfrn, who is interested in these BBC data. She is currently going to start tracking down more pdfs for censuses before 1988 and after 1996. Molly, see if you can compile the bolded title words Ethan is referring to. If there's anything you're unclear on, you can just ask in a comment here on the Github issues page

[2015-10-15 01:11] ethanwhite commented on #50
hey @mollyfrn - nice to make your digital acquaintance. I look forward to meeting you in person when I'm up at UNC in the spring.

[2015-10-15 01:22] mollyfrn commented on #50
Hey! Looking forward to meeting you too! Thank you so much for developing this code. I'm really looking forward to working with these BBC data. :^)

[2015-10-17 00:58] ethanwhite commented on #50
Small tasks that would be helpful for me going forward:

- [ ] Confirm that all values for `Size` are in ha.
- [ ] Determine whether or not we need the parenthetical information in `Census`, e.g., (48/40 ha)
- [ ] Determine how we want to store the `+` values in `Census`
- [ ] Confirm that the first number in `Location` is always the start of the latitude

[2015-10-19 02:07] ahhurlbert commented on #50
* For `Size`, can you just store the units immediately following the value so we can confirm later?
* Yes, we want the parenthetical in the total (e.g., 48/40 ha) as this gives us the ability to test/check our two other values that are read in (Size, and # territories; i.e., these two values have simply been combined to yield the number of territories expected in 40 ha--HOLD ON, IN SOME YEARS THIS

[2015-10-19 02:49] ethanwhite commented on #50
Based on how I ended up handling this it looks like yes, it's only ha's (at least for the two years I've run) and the processing will throw an error if something else crops up so I'll see it.

This looks like a pretty tricky problem since the presence of those parentheticals is not consistent, so if it's just a check on the other two numbers I wonder if its worth the ~several hours it will take me

[2015-10-19 12:15] ahhurlbert commented on #50
Ok, sounds good. We'll ignore it for now.

[2015-10-20 21:37] ahhurlbert opened #51 "return levels of spatial and temporal subsampling used in data cleaning"
Currently, the subsetDataFun function evaluates the appropriate level of spatial and temporal subsampling for a given dataset and returns a formatted dataset that has been subsampled accordingly.

However, the actual levels of spatial and temporal subsampling are not stored anywhere. Fixing this will likely require passing along values of w (spatial subsampling level) and z (temporal subsampling l

[2015-10-23 01:10] ethanwhite commented on #50
I am currently treating "territories" (post 1988) and "territorial males" (1988) in the Total section as the same thing. If that's not correct someone should let me know.

[2015-10-23 01:30] ahhurlbert commented on #50
Yep, that's correct.

[2015-10-25 00:15] ethanwhite commented on #50
I just put in a PR with the text-mining code (#52) and pushed three tables of data to the data repo. Take a look when you get the chance and let me know where the errors are and any data that we need that is missing and I'll get it all cleaned up.

[2015-10-25 01:53] ahhurlbert commented on #50
Spectacular and amazing! Thanks Ethan!

Some things I noticed (many of which may best be fixed by hand after the fact rather than programatically):
* Would be good to store site area (labeled "Size" in bold) in its own field in the censuses table.
* Looks like some characters are not making a smooth Unicode translation, e.g. some dashes as in "Black-andâ€”white Warbler" and "3â€”29Â°C." (A-hat get

[2015-10-25 17:41] ethanwhite commented on #50
Fixed the dashes, can you given me a table and row number for the `3â€”29Â°C` and the `(â€™)` so I can take a look. (With Python 3 and Libre Office unicode displays fine so it's hard to see it).

[2015-10-25 17:46] ahhurlbert commented on #50
Every row of bbs_censuses in the weather section reports temperature in degrees C, and has the problem of displaying "Â°C" instead of "°C".

As for "â€™", two examples are in the weather section, lines 150 and 381. Again, this code is replacing apostrophes.

[2015-10-25 18:41] ethanwhite commented on #50
I just pushed a `valid_species.csv` file to the data repo. At the moment it's just a list of all of the unique values in the species column. If you can go through this and clean it up so that it only has the one correct form of each species name in it then I can work on automating the `-` clean up. It's a bit messy at the moment due to some of the other things that need to be cleaned up, but at ~1

[2015-10-25 19:09] ethanwhite commented on #50
Don't do the cleanup of valid_species just yet. No big deal if you already have, but I might be able to make this a lot easier so give me a few minutes to check it out.

[2015-10-25 19:57] ethanwhite commented on #50
OK, go ahead and take a look at `valid_species.csv` now. I shifted to being overly aggressive in getting rid of `-` rather than not getting rid of enough of them, so one of the big things you'll be checking for is missing dashes. Once we have this list I'll then fuzzy match each species name against it and replace it with the valid name in cases where a dash gets inappropriately removed.

[2015-10-25 20:24] ethanwhite commented on #50
This one required a little creativity... and not for the reason I initially thought it would :)

[2015-10-25 20:35] ethanwhite commented on #50
New data pushed to repo and new PR submitted. These should fix everything on the list except probably the `Â°C` issue because I can't successfully distinguish between `Â°C` and `°C` at the moment (i.e., my computer thinks that the symbol it's working with is `°` and not something else that would be causing issues.

Let me know what you find next. Once you've `valid_species.csv` I'll work on fuzzy

[2015-10-25 21:35] ahhurlbert commented on #50
Not sure I understand what's been done. All of the files including bbs_counts.csv have been updated with these corrections? I still see lots of "â€”" instead of "-", and "â€™" instead of apostrophes, and "ï¬" for "fi". Also, "resident" has not been replaced with "breeder", despite the box checking above. So am I somehow missing updated files from the pull request given that I have definitely updat

[2015-10-25 22:52] ethanwhite commented on #50
Sorry, that's totally my fault. I pushed, posted, and went to help cook dinner and didn't realize that the push had been rejected. It should be all set now.

[2015-10-26 02:19] ahhurlbert commented on #50
I've pushed a new file `bbc_species_corrections.csv` which has fields for the original species name, the cleaned name (where it should be cleaned, otherwise it is blank), the Freq with which the original name appeared in the bbc_counts file, and a Notes field.

Notes field values:
* delete: text unrelated to a species name, e.g. name of Observers
* split text: where two species are listed in the s

[2015-11-03 22:52] ahhurlbert opened #54 "Konza / Ft. Riley birds dataset"
Rivers et al. 2010. Long-Term Community Dynamics of Small Landbirds with and Without Exposure to Extensive Disturbance from Military Training Activities. Environmental Management 45: 203-216.

Has tables with temporal occupancy for "small landbirds" at both Konza Prairie and Ft. Riley Kansas over 1991-2001.

Konza data is a subset of the full time series available, but not sure the Ft. Riley data

[2015-11-04 14:38] ethanwhite commented on #50
OK, updated script is PR'd and new data tables are pushed to the data repo. Let me know what issues you find next :smile:.

[2015-11-04 14:43] ahhurlbert commented on #50
So great. You're like a magician.

Next task:
See if your wand works on these new earlier BBCs from the 1970s where the report text is split into 2 columns! (and hopefully the section names haven't changed....!)

[2015-11-04 14:56] ethanwhite commented on #50
Don't you understand that it's common courtesy to take at least two weeks to get back to me on something so that I don't have to worry about it for a while! I have to switch gears for the next 10 days since the Moore folks are coming into two for a site visit, but once that's over I'll get back on this.

The two-column format will definitely need to be handled a little differently. If everything l

[2015-11-04 14:59] ahhurlbert commented on #50
The issue never closes!

Ok, you're right. And I obviously didn't expect you to dive back in immediately. At your convenience as always. But I get so excited seeing this progress!

@mollyfrn Why don't you post a new issue outlining the years that you've added that have the two column format, and any other details you've noticed that might be different from the original BBC censuses that Ethan has

[2015-11-04 14:59] #50 closed

[2015-11-05 18:10] ahhurlbert opened #56 "BBC pdf parsing: one record in counts file to fix"
Record #4283 in bbc_counts.csv (year == 1989, species == Vesper Sparrow) has a value for 'count' of "+_" instead of just "+".

[2015-12-17 20:29] ahhurlbert opened #58 "explaining diff between BBC and BBS using distance"
See if agreement between BBC and BBS is partially explained by the distance separating the two sites. We expect sites closer together should have higher agreement on average.

[2015-12-28 15:17] ssnell6 opened #59 "git issue"
I'm working through dwork 279 and everything is going well in R, but I ran into an issue committing to git. I tried to do  "git commit -am"  but got the error that

 scripts/R-scripts/data_cleaning_scripts/dwork_279_SJS.R
        scripts/R-scripts/data_cleaning_scripts/dwork_279_SJS_files/

 were untracked. I thought I could fix it by tracking them with git add and git push but now I'm not recogni

[2015-12-28 17:12] ssnell6 opened #60 "spatial grain confusion"
For dwork 279, I got to spatial grain (R code line 712) and got stuck when I got an error for all combinations and trying just the largest grain. I'm going to save and stop here until I can get this resolved and pushing to git resolved.

Thanks!

[2015-12-30 20:00] ahhurlbert commented on #59
Ok, I'm assuming this is the first time you tried committing changes to dwork_279_SJS.R?

The very first time a new file has been added to a repo, you will need to use `git add` and `git commit` as separate statements like this:
[code]
From then on, now that the file is being tracked (it's not being tracked until you `git add` it), you can combine those first two steps like this (note the '-am' in

[2015-12-30 20:01] ahhurlbert commented on #60
@ssnell6 I can't really troubleshoot this until I can see the code, so see if you can get it added and pushed properly as I suggested in response to your other issue, then I can take a look.

[2016-01-04 15:07] ssnell6 commented on #59
This worked, thanks!

[2016-01-04 15:08] #59 closed

[2016-01-04 15:31] ssnell6 commented on #59
I actually don't think it's working. I compared the gitbhub script to the
one on my computer and it's not updating the script on github. The last
edits were all 7 days ago. I'm not getting any errors in git. It says my
raw data has been added, but I keep getting a detached head when I try to
commit.

On Wed, Dec 30, 2015 at 3:00 PM, ahhurlbert <notifications@github.com>
wrote:

[2016-01-05 02:01] ahhurlbert commented on #59
Check `git status` for both the core-transient repo and the core-transient/data subrepo and paste both sets of results here.

[2016-01-11 17:48] ssnell6 opened #61 "preformatting dates for annuals and perennials"
The dates are in two different formats in the annual and perennial datasets; there are numbers like 1998 and month.year in words, not numbers (Mar.05). I tried a variety of as.Date commands but R is not recognizing "Mar"/"Dec"/etc as dates. I am not going to combine the datasets until years are in the same format. Is there a command besides as.Date I can try to get years in the same format?

[2016-01-11 20:00] ssnell6 opened #62 "determining raw spatial grain d249"
I wanted to make sure I determined the raw spatial grain in a legitimate way.

The finest level of spatial grain for d249 is lakeid. In the metadata, each lake is said to be sampled with a "seine used is 12.2 m long by 1.2 m deep, consisting of two 5.5 x 1.2 m wings surrounding a 1.2 x 1.2 x 1.2 m central bag". (https://portal.lternet.edu/nis/metadataviewer?packageid=knb-lter-ntl.7.10). So, I said

[2016-01-13 18:51] ssnell6 opened #63 "checking raw spatial grain for d252"
I wanted to make sure that I had the right spatial grain for d252.

Metadata text: Any traps that are damaged or not functioning are re-set. Sampling DesignArthropods are collected in pitfall traps, made of a 15 oz. can (11 cm tall and 7.5 cm in diameter) dug into the ground so that the opening of the can is flush with the ground.

Link: https://portal.lternet.edu/nis/metadataviewer?packageid=knb-

[2016-01-13 19:43] ssnell6 commented on #63
Also, had to stop at the species because they have coded -888 as NA and I can't remove them using bad spp. It looks like someone else formatted the dataset using a different script 12/14/15 so I'm going to pause on this for now.

[2016-01-13 20:45] ssnell6 opened #64 "error for both spatial grains for d287"
I was finishing a dataset Robbie did for data wrangling and got the script complete through the spatial grain for the richness years test, but both transect and site are throwing errors.

[2016-01-14 19:31] ssnell6 opened #65 "git issue"
I don't think I did anything to disconnect myself from git, but it's not picking up when I edit files. I formatted dataset 258 and it's not on github in the data files, script, or data formatting table. When I call git status on core-transient it says everything is up to date. Google didn't yield anything helpful except perhaps it's an upstream problem.

[2016-01-20 16:44] ahhurlbert commented on #65
Realized we had forked a second repository by accident. All fixed now.

[2016-01-20 16:45] #65 closed

[2016-01-20 16:45] ahhurlbert commented on #60
Apparently I helped resolve this in December.

[2016-01-20 16:45] #60 closed

[2016-01-20 17:44] #61 closed

[2016-01-21 19:57] ssnell6 opened #66 "double checking spatial grain d251"
I wanted to confirm that the spatial resolution was 10km. I thought that the area of fish species being caught in the tow nets would be the grain rather than the dimensions of the actual net.

https://portal.lternet.edu/nis/metadataviewer?packageid=knb-lter-pal.100.1

"All seabird censuses were thus conducted within approximately 100 kms of Palmer Station while traversing a sampling grid with stat

[2016-01-21 20:05] ssnell6 commented on #66
Actually, I can't find site data besides a cruise name and study name. Would those be good enough to proceed?

[2016-01-22 15:26] ahhurlbert commented on #66
We have decided that cruise-based bird oceanic bird surveys are not well suited for characterizing "assemblages" over time, so don't worry about working on this dataset or others like it.

[2016-01-22 15:26] #66 closed

[2016-01-22 15:30] ssnell6 commented on #66
Ok. Should I mark OBIS datasets and this one with a 5 in the formatting table?

[2016-01-22 15:40] ahhurlbert commented on #66
Yes. Our decision was primarily about pelagic datasets on the open ocean where there is no physical template (like a reef, or bottom sediments) that defines a site. Any particular lat-long in the ocean doesn't really define a site, since the ocean conditions (productivity, temperature, etc) at that lat-long can change over time and organisms like birds and fish will just move around to follow cond

[2016-01-22 15:44] ssnell6 commented on #66
Ok thanks. I will go through and update.

On Fri, Jan 22, 2016 at 10:40 AM, ahhurlbert <notifications@github.com>
wrote:

[2016-01-22 15:45] #64 closed

[2016-01-22 15:46] ssnell6 commented on #62
need to break this dataset down by type of gear used in order to get a uniform spatial scale, will vary depending on which gear has the most species caught.

[2016-01-22 15:46] #62 closed

[2016-01-22 15:49] ssnell6 commented on #63
Spatial grain is 4 m2, an estimate of space bc there was no direct spatial scale provided. The only information was "the lines were located to provide a systematic array with trap lines approx 200 m from each other on the landscape," so a 4 m2 grid was estimated by Allen.

[2016-01-22 15:49] #63 closed

[2016-01-22 17:08] ssnell6 opened #67 "d253 lack of data"
d253 has 5 years of data for direct germination, 1 less than minNtime years (this dataset was downloaded 12/14/15 already), so I'm going to stop formatting this one. The website has another dataset with more years for seed banks via elutriation. I will try that dataset but it needs a new name, for now I'm going to call it d253_1 just to see if there is enough data.

[2016-01-22 17:19] ssnell6 commented on #67
Nevermind, minNtime is also 5 for elutriation even though more years were listed as included.

[2016-01-22 17:19] #67 closed

[2016-01-25 15:00] ssnell6 opened #68 "how to grep -- code used for Hubbard Brook"
$ git grep '228' -- '*.[R]'

[2016-01-25 15:00] #68 closed

[2016-01-25 18:32] #56 closed

[2016-01-25 18:52] ethanwhite opened #69 "Add more BBC data"
I thought we had an issue for this, but I can't seem to find it. The next step is to start introducing 2 column data. There are some example pdfs in the data repo and the newer data, e.g.:
http://www.birdpop.org/docs/journals/Volume-10/BPJ10-13_Lowe_Census_2007.pdf

is also in this format.

[2016-01-26 19:41] ahhurlbert opened #70 "new dataset to incorporate: MERP"
Marsh Ecology Research Program

Data on KNB:
https://knb.ecoinformatics.org/#view/doi:10.5063/AA/bowdish.819.26

[2016-02-11 18:52] ssnell6 commented on #42
Remind me what the latest on this dataset is? (from Allen)

[2016-02-11 20:24] ethanwhite commented on #42
I now finally have the data in hand and they are happy for us to proceed using their data without being actively involved.

CBC data is a bit of a beast (>20 tables with complex relations and filters that need to be applied). I suspect it will be a few weeks before we get around to putting this altogether in a way that I can extract useful information from this project, but it's definitely getting

[2016-02-15 18:33] ssnell6 opened #71 "d231 and 298 throwing same error... issue with core-transient functions?"
I have been trying to format d298 and d231 and have gotten the same error on line 750-757 defining subsettedData. The datasets are totally unrelated (birds vs mammals). The error is:

 Error in count(spaceTimeGTEz, analysisSite) :
  object 'analysisSite' not found

I see analysisSite is defined in line 718 of the code:
goodSites = unique(richnessYearsTest$analysisSite)

I don't know how to proceed

[2016-02-15 20:22] ssnell6 commented on #71
I restarted my computer and it was fixed. Not sure what happened there. Never mind!

[2016-02-15 20:22] #71 closed

[2016-02-16 14:28] ssnell6 commented on #70
Dataset was determined to be unsuitable due to different sampling methods over the sampling period, with no more than 4 consecutive years of the same sampling methods/efforts/etc. Confirmed with Allen.

[2016-02-16 14:28] #70 closed

[2016-02-18 15:55] #39 closed

[2016-02-22 13:55] ssnell6 commented on #54
Konza and Ft Riley formatted using partial data cleaning script bc occupancies already in raw data. Konza is d270, Ft Riley is d271

[2016-02-22 13:55] #54 closed

[2016-02-29 16:48] ahhurlbert opened #72 "Make sure we have all of the datasets in Yenni et al. 2016"
See her Appendix S1 at http://biorxiv.org/content/early/2016/02/19/040360.figures-only

[2016-03-02 20:34] ssnell6 commented on #72
Do we know anything about mountain bird watch? The data download takes me here and there doesn't seem to be any data just desciption of the data and instructions: http://www.birdscanada.org/birdmon/default/resources.jsp

Mountain birdwatch also isn't listed in their dataset download form.

I can email them directly at mbw@vtecostudies.org if there isn't knowledge about the dataset

[2016-03-02 20:39] ssnell6 commented on #72
Lots of data is linked to being here: https://www.imperial.ac.uk/cpb/gpdd

but I get an error when I try to register to access the data. Does anyone know how to use this database or is the site just down temporarily?

[2016-03-02 20:43] ssnell6 commented on #72
International Bottom Trawl Survey data link led to a huge zip file which doesn't seem to have species data attached to it

http://ocean.ices.dk/Project/IBTS/

[2016-03-02 20:45] ssnell6 commented on #72
For the Cowley snakes, they organized the data summed by site or summed by years so you couldn't get both site and year. I went with year since we need the temporal data but wanted to double check.

[2016-03-02 20:48] ssnell6 commented on #72
This link just takes to you an email address for George Pisani at the Kansas Biological Survey, should I contact him for the full dataset? "broader information on bird abundance and natural communities in the region can be obtained by contacting the Kansas Biological Survey"

http://kufs.ku.edu/media/kufs/libres/snakedata.htm

[2016-03-02 20:48] ssnell6 commented on #72
Need to contact Haven Wiley for Coweeta salamanders data.

[2016-03-02 20:52] ssnell6 commented on #72
Need to check out Long-term Studies of Vertebrate Communities from a library to get Rainbow Bay Frogs

[2016-03-02 20:53] ssnell6 commented on #72
Need to check out Marine Mammals and Fisheries book from a library to get CA coastline molluscs data

[2016-03-02 20:53] ssnell6 commented on #72
We don't have Jornada arthropod data correct? I only see d215 which is plants.

[2016-03-02 20:56] ssnell6 commented on #72
d306 (long term trends in Lepidoptera in hardwood forests, Hubbard brook LTER) richnesstest function is throwing an error, I suspect because of spatial grain. It had 4 potential site grains so I need help figuring out which one(s) to use

[2016-03-02 20:57] ethanwhite commented on #72
@gmyenni - Is this, https://github.com/gmyenni/RareStabilizationData,  the associated data from your preprint? Can we integrate anything we don't have yet into the data we're putting together to look at core-transient dynamics?

[2016-03-02 21:01] ssnell6 commented on #72
Thanks @ethanwhite! I'll wait for confirmation that we can use the data before moving forward with cleaning it.

[2016-03-02 21:16] ssnell6 commented on #72
For the Great Basin mammal abundance (d307), I am getting a failed richness years test. The dates range from 1962-1993 and there are 2 sites that span more than 6 years (lengthYears =33 for both).

[2016-03-03 23:19] gmyenni commented on #72
Yes, that repo has all the data, as I used them in the paper. I think the only one you for which you need your own written permission is the Fitch snake data (Kansas Biological Survey).

[2016-03-04 01:03] ethanwhite commented on #72
Awesome. Thanks @gmyenni!

[2016-03-04 15:08] ssnell6 commented on #72
Do we want to include this in our analysis? "The North American Breeding Bird Survey Results and Analysis. Version 96.4. Patuxent Wildlife Research Center" Pawnee songbirds and raptors. Seems like a subset of our dataset 1 (all of BBS) and I don't want to double count.

dataset is from rarestabilizationdata and is the "shortgrass steppe" under birds

[2016-03-04 16:06] ssnell6 opened #73 "d308 spatial grain"
Mountain birdwatch seems to have different length routes ranging from around 1 mi-5 mi

http://vtecostudies.org/projects/mountains/mountain-birdwatch/available-routes/

How should I specify spatial grain? I saw that in our BBS cleaning script the routes were included in the dataset so the variable lengths were accounted for, but this data only has the state the data was acquired in.

[2016-03-07 16:02] ssnell6 opened #74 "d309 count classification"
d309 is the international bottom trawl survey.  The count data provided is in average catch/hour. I wanted to raise the issue because the data is skewed towards 90-100% occupancy and I am concerned it could be because we are using the rate value as a raw count. However, little information has been provided about the survey methods and the only things I came with as potential solutions are that the

[2016-03-07 17:12] ssnell6 opened #75 "d310 no acceptable sites"
Getting error for richnessYearsTest: "No acceptable sites, rethink site definitions or temporal scale"

We don't have site-specific data, just the species found per year at the biological station. The temporal scale is 14 years.

This is the same issue as Hubbard Brook (d306), which also only has 1 site.

[2016-03-07 18:26] ahhurlbert commented on #75
Add a site column that just equals 1 all the way down, and re-run.

From: ssnell6 [mailto:notifications@github.com]
Sent: Monday, March 07, 2016 12:12 PM
To: hurlbertlab/core-transient <core-transient@noreply.github.com>
Subject: [core-transient] d310 no acceptable sites (#75)

Getting error for richnessYearsTest: "No acceptable sites, rethink site definitions or temporal scale"

We don't have sit

[2016-03-07 18:26] ssnell6 commented on #75
Ok I will try this for 310 as well

On Mon, Mar 7, 2016 at 1:26 PM, ahhurlbert <notifications@github.com> wrote:

[2016-03-07 20:02] ssnell6 commented on #75
I am getting the same error for both scripts after adding a site = 1 column

[2016-03-09 18:49] ssnell6 commented on #75
It was because of the minspecies requirement.

[2016-03-09 18:49] #75 closed

[2016-03-16 19:54] ssnell6 commented on #72
done

[2016-03-16 19:54] #72 closed

[2016-03-17 14:49] ssnell6 commented on #73
http://vtecostudies.org/wp-content/uploads/2014/09/vce-MBW-annual-report-2010.pdf

this annual report said that transects were all 1 km

[2016-03-17 14:49] #73 closed

[2016-03-24 14:20] ssnell6 opened #76 "summary and analysis script"
I think I have figured out the error when running the summary and analysis script - the script stalls on samples without propOcc tables, aka any row with a format flag other than 1. How was this issue avoided when the script was run before? The original summary table seems to have skipped over the incomplete datasets, but I don't see commands to do that anywhere in the code I have.

[2016-03-29 18:41] ssnell6 commented on #76
fixed with code: datasetIDs = dataformattingtable$dataset_ID[dataformattingtable$format_flag == 1]

[2016-03-29 18:41] #76 closed

[2016-04-08 17:21] ssnell6 opened #77 "d44 spatial grain confirmation"
d44 has mostly transient species, so there was discussion about redoing spatial grain to be less fine and encompass a more representative community.

3 grain identifiers:
PSP_STUDYID: permanent study plot, mutually exclusive grouping of study forest stands (10 categories)

STANDID: study forest stand code (109 categories)

PLOTID: plot number WITHIN stand ID (239 categories)

Study areas are recta

[2016-04-13 20:43] ahhurlbert opened #78 "make sure meanAbundance for a dataset is calc'd AFTER filters"
For d67 (coordinated waterbird counts, South Africa), there are >400 unique sites but only 46 make it through the relevant filters to be analyzed for temporal occupancy.

However, the meanAbundance value seems to get calculated before that filter takes place (and so is very low, including sites with very low coverage, numbers of species, numbers of years).

[2016-04-14 13:52] ssnell6 commented on #78
The script removed mean abundance in line 647 bc its not reliable. When I reran the script they are all NA in siteSummaries

# REMOVE meanAbundance info which is unreliable (see notes above)
summ$meanAbundance = NA

[2016-04-15 18:32] ssnell6 opened #79 "Noting which dataset IDs have lots of lat longs attached to them"
For plotting I am trying to find the mid-point of the study but some studies have sites that are far from one another or many sites. I wanted to make a list of species with a lot of sites so we can deal with them later during plotting & analysis.

d1 - BBS
d247 - Mosquitoes of North America with emphasis in the midwestern United States
d248 - CA Channel islands and Santa Barbara
d269 - Species com

[2016-04-18 20:03] ssnell6 commented on #77
Nevermind this one will have to stay, it only works with plot number

[2016-04-18 20:03] #77 closed

[2016-04-20 15:38] ahhurlbert commented on #79
@ssnell6 I noticed that the lat-longs entered into the data formatting table for d33 are not quite right, and so want to make sure you double check all of them.

According to the paper (http://plankt.oxfordjournals.org/content/32/5/643.full), the site's lat long is given as 50° 15.00′N, 4° 13.02′W.

Since, we are recording lat and long in decimal degrees, this means it should be 50.25 N (i.e. 15 m

[2016-04-20 15:42] ssnell6 commented on #79
Oh man, that's not good. I used an online converter to decimal degrees so its possible theyre off. I'll double check ASAP

[2016-04-20 17:14] ssnell6 commented on #79
Any ideas on how to deal with the mosquito dataset? There are 542,145 entries with all different locations. Maybe an R package that geolocates based on location name?

[2016-04-20 18:07] ahhurlbert opened #80 "d41 lat-longs and dataset name, and other Preston data"
d41 is referred to as "Breeding Birds from Preston 1948" in the data formatting table, but this is incorrect. It should be "Breeding Birds from Preston 1960".

The dataset available in the linked data_source (http://www.jstor.org/stable/1931793) only has data for a single site, Neotoma in Ohio, and so this lat-long should be restored to the data formatting table. This is the data in raw_datasets/d

[2016-04-20 19:05] ssnell6 commented on #80
Preston 1948 added as d319 and d320.

DFT fixed also.

[2016-04-20 19:05] #80 closed

[2016-04-20 20:56] ahhurlbert opened #81 "fix past remnants of merge conflicts in data_formatting_table"
This is a reminder to myself to take care of this.

[2016-04-28 17:17] ahhurlbert commented on #81
Fixed. One reason we hadn't realized there were merge conflicts is because of returns within multiline comments posted to the data formatting table from the R cleaning scripts.

We are now making sure that all multiline comments have no hard line endings in them, which means the merge conflict hashes will actually show up at the start of a line when opened in a spreadsheet, rather than being burie

[2016-04-28 17:17] #81 closed

[2016-04-28 17:19] #38 closed

[2016-04-28 17:21] ahhurlbert opened #82 "redo cleaning script for d200"
@ssnell6 Looks like the first time this was done, the top info for what dataset is being processed (i.e. datasetID) was not changed from the example in the template, and so this script currently cleans up dataset 282, not 200.

[2016-04-28 17:42] ahhurlbert opened #83 "file cleaning"
@ssnell6 Go ahead and clean up both data cleaning script files and raw dataset files.

Remove any files for datasets which are no longer listed in the data formatting table.

For datasets where there are duplicate cleaning scripts (e.g., with different initials appended), identify which clean script is the more outdated and remove it.

Remember you can do this from Git Bash by typing

`git rm <fil

[2016-04-28 20:48] ahhurlbert opened #84 "d71, Phytoplankton of Barents, White Seas data cleanup"
Raw data were downloaded from iOBIS.org

For ~1100 records out of ~34,000, there is a problem spanning the 'sauthor' and 'tname' fields such that the 'sauthor' value gets split across both fields, pushing all subsequent values in that row one column to the right. All of these seem to have empty double quotes at the end of the string in what is now placed in the 'tname' field.

I will write a prefo

[2016-04-29 14:23] ssnell6 commented on #82
There shouldn't be a d200 - it is flagged as a 5 in the DFT. I will delete the script bc it is just the template script

[2016-04-29 14:23] #82 closed

[2016-04-29 16:13] ahhurlbert opened #85 "Raw_spatial_grain_unit in cleaning script template"
There was an error in line 296 of the data_formatting_template.R

('Raw_spatial_grain_unit' was previously and incorrectly 'Raw_spatial_grain')

The result was that for every dataset, the Raw_spatial_grain_unit field in the data_formatting_table was filled with a repeat of the quantitative spatial grain values rather than the scientific units describing those values which did not get recorded anyw

[2016-04-29 17:47] ahhurlbert commented on #85
Actually, this would be a great opportunity to learn how to write a shell script that finds and replaces a text string!

E.g., http://stackoverflow.com/questions/15402770/how-to-grep-and-replace

[2016-05-02 14:31] ssnell6 commented on #83
Removed excess files for cleaning scripts, moved excess files into dataset folders for raw datasets/deleted when necessary.

[2016-05-02 14:31] #83 closed

[2016-05-04 13:00] ahhurlbert opened #86 "new dataset, Arctic vegetation d207"
@ssnell6 Just added new raw dataset_207.csv, can you please create a cleaning script for it.

Metadata here: http://lter.kbs.msu.edu/datatables/67

[2016-05-05 12:48] ssnell6 commented on #85
fixed this, should be reflected in the DFT

[2016-05-05 12:48] #85 closed

[2016-05-05 18:08] ssnell6 commented on #86
done

[2016-05-05 18:08] #86 closed

[2016-05-05 18:54] ahhurlbert commented on #84
Issue is now described on Ecological Data Wiki (http://ecologicaldata.org/wiki/phytoplankton-white-sea-barents-sea-norwegian-sea-and-arctic-basin-1993-2003).

We won't be using this dataset for the core-transient project since locations are based purely on lat-longs and do not correspond to physically identical locations of resampling over time.

[2016-05-05 18:54] #84 closed

[2016-05-05 20:46] ahhurlbert opened #87 "re-cleaning d207, site identifiers"
@ssnell6 I noticed a few issues with this dataset which I'll post in separate issues.

First, site identifiers:

1) Site is hierarchical, with quadrats nested within blocks (From metadata: " In this file the quadrats were renamed to B1Q1 style where the number following the B is block number and the number following Q is quadrat number.")

2) These quadrats are so small, that even a group of 5 of

[2016-05-05 20:48] ahhurlbert opened #88 "re-cleaning d207, removing non-quadrats"
@ssnell6

Do a quick check of the unique values of 'quadrat', and how many times they occur:
`table(dataset$quadrat)`
You will see several things. First, each block-quadrat combo occurs twice, but the second time it has 'gm2' appended to the end. I re-checked the metadata and a spotcheck indicates that the rows with 'gm2' in the quadrat name are duplicates where the biomass value was converted fro

[2016-05-05 20:53] ssnell6 commented on #88
I thought that we would want the dried biomass values attached to each B1Q1 label for count data rather than one of the original columns. Do you mean that in addition to the columns there are also rows with averages/counts/std errors in the quadrat field?

[2016-05-05 20:56] ahhurlbert opened #89 "re-cleaning d207, species names"
@ssnell6 Every quadrat has the exact same number of records. This is not a problem per se, but points out a way that the data must be structured which has ramifications for us. The reason there are exactly 828 rows per quadrat is because every quadrat has rows for the exact same set of species and tissue types regardless of whether those species/tissues were observed or not. This should immediatel

[2016-05-05 20:58] ahhurlbert opened #90 "re-cleaning d207, "biomass" category for count data"
@ssnell6 Finally, let's add a new 'biomass' option to the metadata on count type. And note that for this dataset, we'll be ignoring tissue and just summing up the biomass values by species within each quadrat (which will happen automatically when dataset7 is created using ddply).

In the notes you might mention that the biomass in our formatted dataset has been summed across tissue types, includin

[2016-05-05 20:59] ahhurlbert commented on #88
Yes, exactly. Type this:
`table(dataset$quadrat)`

[2016-05-05 21:22] ahhurlbert opened #91 "re-cleaning d207, sample dates"
@ssnell6 Just noticed that number of sample dates varies by year, with 1983 having 5 separate dates, while many other years only have 1 sample date. Technically, our algorithm will adjust for this by randomly subsampling from available dates, but in this case, every year is sampled within a week of the end of July, whereas 1983 has sample dates as early as May and as late as late-August. That will

[2016-05-06 20:08] ssnell6 commented on #88
removed the avg/count/SE quadrats. I will go through the metadata to figure out whats going on w gm2

[2016-05-06 20:35] ssnell6 commented on #87
made a site final column to address the hierarchy.

I will leave the spatial scale as is for now, and we can look at the results later to see if we need to scale up.

[2016-05-06 20:35] #87 closed

[2016-05-09 14:55] ssnell6 commented on #91
done - maybe not the most elegant, but inserted code on lines 172-175 of cleaning script

[2016-05-09 14:55] #91 closed

[2016-05-09 15:04] ssnell6 commented on #90
done - updated template and d207 script. Noted aboveground & belowground biomass sum in notes for DFT.

[2016-05-09 15:04] #90 closed

[2016-05-09 16:17] ssnell6 commented on #88
removed all gm2 - couldn't distinguish additional differences besides unit changes in the raw datasets.

[2016-05-09 16:17] #88 closed

[2016-05-09 19:55] ssnell6 commented on #89
fixed the species issue with a for loop. removed bad species and checked spacing

[2016-05-09 19:55] #89 closed

[2016-05-17 11:47] ssnell6 opened #92 "Phainopepla relatives? Biotic interactions"
What are the closest relatives for the biotic table

[2016-05-17 21:07] ahhurlbert opened #93 "cleaning script for d222"
@ssnell6 The raw data is available here http://onlinelibrary.wiley.com/doi/10.1890/10-0404.1/abstract, so I think this is the data that we want to clean in the script rather than the modified version that you obtained from the Yenni et al. repo. She seems to have aggregated individual quadrats so that information is lost (even if we eventually will also aggregate them).

Using Yenni et al. is a so

[2016-05-17 22:00] ahhurlbert commented on #92
After some thought, I think it's best to remove the relatively unique Phainopepla from biotic interactions analysis.

[2016-05-17 22:00] #92 closed

[2016-05-18 17:32] ssnell6 commented on #93
Want to double check that the "area" field in allrecords_cover.csv is the cover calculation, because it is a bit confusing. The metadata description says this is a measure of the area of the polygon, since all of the quad data points are stored as shapefiles. However, it is suspicious bc there are no zero values.

[2016-05-18 17:38] #79 closed

[2016-05-20 18:28] ahhurlbert opened #94 "problem with raw data for d315"
A comment from @lauraantao:

I was trying to adapt the dataset ID 315 (Monitoring the Abundance of Butterflies 1976-1985). I copied the records from the github repo, and I have 98 records with count= "NA"; 25 of these have "SampleYear" =1985, but the remaining ones have "Status API Training Shop Blog About Pricing" and "? 2016 GitHub, Inc. Terms Privacy Security Contact Help". Could you please let

[2016-05-20 20:06] ssnell6 commented on #94
@lauraantao - thank you for bringing this to our attention. I had acquired the raw data files from another repo and it was originally separated into 5 text files, which I pasted together in R. One of the files I copied also copied the bottom of the webpage and it got incorporated into the bottom of the dataset. I just reran the formatting script to paste together the datasets without that extra li

[2016-05-20 20:06] #94 closed

[2016-05-20 20:31] lauraantao commented on #94
Thank you for looking into it so quickly!

Best
Laura

On Friday, 20 May 2016, ssnell6 <notifications@github.com> wrote:

--
Laura Antão
PhD Student – University of St Andrews & University of Aveiro
Centre for Biological Diversity
Sir Harold Mitchell Building
KY16 9TH, St Andrews, UK
e-mail: *liha@st-andrews.ac.uk <liha@st-andrews.ac.uk>* & laura.antao@ua.pt

[2016-06-02 19:35] ahhurlbert opened #95 "new dataset: UHURU small mammals and others?"
Grab data and complete cleaning script for small mammal community data

http://www.esapubs.org/archive/ecol/E095/064/metadata.php

[2016-06-03 11:39] ssnell6 commented on #95
I will look into the plant datasets but the small mammals dataset only has 4 years of data (2009-2012). I started the script and I can change minNTime if you think we should, but 4 years seems a little short.

[2016-06-03 11:48] ssnell6 commented on #95
These two datasets seem to fit our criteria if we reduce minNTime to 5 years.

(7) Biannual surveys of understory composition within 49 larger (1-m²) quadrats per plot - Yearly understory vegetation data recorded in large quadrats (1 m²) at each rebar.

We'd have to increase plot size to make this one work I think.

(8) Annual size measurements of a subset of tagged and mapped trees within each pl

[2016-06-06 15:27] ssnell6 commented on #95
For biannual plant survey (d322), I couldn't get the month converted from text to numeric. I tried in the preformatting script.
There could be something off with the sites since the species occurrences were even. I remember that was an issue in another script but I couldn't find anything weird about the sampling methods - maybe adding month in will help. Right now the vast majority of occurrences

[2016-06-06 20:04] ahhurlbert commented on #95
I'll take a look at d322 but it looks like the data files have not been pushed yet.

[2016-06-06 20:04] ahhurlbert commented on #95
Didn't realize mammals only have 4 years of data--we won't pursue them further.

[2016-06-06 20:10] ssnell6 commented on #95
The original d322 file was too large so I zipped and I thought it went through. I'll try to fix that

[2016-06-06 20:53] ssnell6 commented on #95
I can't get the original or the zip to upload to github. I tried a hard reset and it's not recognizing the new files now, so I'm not sure what's wrong. I'm going to try to recreate my local data repo

[2016-06-06 20:59] ahhurlbert commented on #95
Looks like there is a file in the dataset_322RAW folder, there's just nothing in the regular raw_datasets folder, so the cleaning script does not load any data file. Seems like you can just move the file over?

[2016-06-06 21:02] ssnell6 commented on #95
I tried that and the file was too big. working on recloning now

[2016-06-06 21:22] ssnell6 commented on #95
I reset everything and I'm still getting the size limit error even though I have only d322 zipped in my local folder. The zip file is 7,000 kb (which is only 7 MB right?) and the limit is 100 MB so I'm not sure where my large file is hiding. I'll try to figure out where it is tomorrow.

[2016-06-06 21:37] ssnell6 commented on #95
Got everything resolved so everything should be up to date in repo. I checked to make sure your additions to d287 wasn't lost. I will look into the tree dataset soon.

[2016-06-07 16:08] ssnell6 commented on #95
Not enough species for d323.

[2016-06-09 19:53] ahhurlbert opened #96 "source of d317 data"
@ssnell6 acquired data from @gmyenni s repo here: https://github.com/gmyenni/RareStabilizationData/tree/master/Mammals

but I'm having trouble reconciling with the raw data files from their source here:
http://dataknp.sanparks.org/sanparks/metacat/peggym.117.10/sanparks

Ideally for Core-Transient, we want to start with the original raw data files (as available on Dryad, Archives, the sanparks.org

[2016-06-10 16:39] ahhurlbert commented on #10
This is an issue to be dealt with by EcoData Retriever, and not specific to our project so I am closing for now.

[2016-06-10 16:39] #10 closed

[2016-06-10 16:40] ahhurlbert commented on #35
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:40] #35 closed

[2016-06-10 16:41] ahhurlbert commented on #36
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:41] #36 closed

[2016-06-10 16:41] ahhurlbert commented on #33
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:41] #33 closed

[2016-06-10 16:42] ahhurlbert commented on #28
data_source_table.csv has been deprecated.

[2016-06-10 16:42] #28 closed

[2016-06-10 16:47] ahhurlbert commented on #24
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:47] #24 closed

[2016-06-10 16:47] ahhurlbert commented on #37
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:47] #37 closed

[2016-06-10 16:47] ahhurlbert commented on #46
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:47] #46 closed

[2016-06-10 16:48] ahhurlbert commented on #47
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:48] #47 closed

[2016-06-10 16:48] ahhurlbert commented on #48
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:48] #48 closed

[2016-06-10 16:53] ahhurlbert commented on #43
As a marine dataset with samples only given by lat-longs, this dataset is inappropriate for current purposes. Closing issue.

[2016-06-10 16:53] #43 closed

[2016-06-10 16:55] ahhurlbert commented on #74
This dataset only includes a "selection" of species for monitoring, i.e. not everything, so transient species are likely underrepresented. Dataset is not being included in analysis.

[2016-06-10 16:55] #74 closed

[2016-06-10 17:20] ahhurlbert commented on #93
As specified here, "area" is the area in m2:

http://esapubs.org/archive/ecol/E091/243/metadata.htm

[2016-06-10 17:20] #93 closed

[2016-06-10 17:32] ahhurlbert commented on #95
d322 is all set; d323 is not a suitable dataset and has been deleted from data formatting table, etc.

[2016-06-10 17:32] #95 closed

[2016-06-10 17:33] #78 closed

[2016-07-07 17:47] ssnell6 opened #97 "d326 spatial grain"
For d326: 1980-1987 was sampled at 0.5 m depth, afterwards was sampled at 2 m depth. This is not quite the same breakdown of the four separate data tables, where the first table ran 1980-1984 and 2-4 ran the rest of the dates. I check a book for reference, and it said 0-2 m was considered shallow for a lake, so I think it's ok to combine these different sampling methods. Please confirm.

Additiona

[2016-07-07 17:51] ssnell6 commented on #97
Scrapping all 4 years after discussion

[2016-07-07 17:51] #97 closed

[2016-07-13 17:23] ssnell6 commented on #96
Redid with raw census data

[2016-07-13 17:23] #96 closed

[2016-07-13 17:28] ssnell6 opened #98 "d330 spatial grain"
For d330, transects measure from ~ 1-7 km. Is this too large of a range? 8/10 of the transects are 5 km or under. I have all transects together for now and will use an average of the transects for a spatial grain unless we need to split them out by length.

[2016-07-13 17:32] ahhurlbert commented on #98
Sounds good enough to keep them all together with a single average transect length. Since he was using unlimited sight distance, let's go ahead and multiply the average length (in meters) by 20 to get a rough estimate of spatial grain. In general most butterflies that were identifiable were probably within 10 m.

Be sure to make a comment about these assumptions in the cleaning script.

[2016-07-13 17:37] ssnell6 commented on #98
Sounds good. Included now

[2016-07-13 17:37] #98 closed

[2016-08-02 18:00] ssnell6 opened #99 "scale analysis - richnessYearsTest"
I'm trying to get the richnessYearsTest run on its own without having to load in everything from the cleaning scripts (datasets 1-7), but the richnessYearSubsetFun calls dataset and site (not formatted in the original dataset, so calling it without the formatting is probably not useful)

richnessYearSubsetFun
read.table(text = as.character(dataset$site), sep = "_", quote = "\"",
    stringsAsFacto

[2016-08-02 21:00] ahhurlbert commented on #99
dataset7 is the formatted dataset. Instead of running the entire cleaning script to get it, you can just read it in from the formatted_datasets folder.

Then feed into richnessYearSubsetFun(). No need to edit source functions or re-run earlier parts of the cleaning script.

The fact that in the code that defines richnessYearSubsetFun it uses "dataset" is irrelevant. That does not refer to the "dat

[2016-08-02 21:04] ssnell6 commented on #99
That is the script I currently have, but I am getting an error when I run richnessYearsTest on it, and no error when I try running the cleaning script (I clear the history in between these tests). The error traceback led me to think it was due to the function, but I guess there is something else going on.

I'll look at my script again and post the error tomorrow if that will help.

[2016-08-03 13:30] ssnell6 commented on #99
This is the error. Based on google, the error could be due to an outlier? I thought it had to do with the original dataset because of the lines 4-5 in the traceback, but now I'm not sure.

Error in format.default(structure(as.character(x), names = names(x), dim = dim(x),  :
  invalid 'trim' argument
Traceback:
7 format.default(structure(as.character(x), names = names(x), dim = dim(x),
    dimnames

[2016-08-03 13:39] ssnell6 commented on #99
I get the same error when I try to run the cleaning script from line 689, which is supposed to work without running the prior code. Do we know for sure that the script ran properly before?

[2016-08-03 18:05] ssnell6 commented on #99
I have a conceptual question in addition to the above error issue that is still unresolved - when trying to loop through the different spatial grains, I tried using the raw site unit character name like the cleaning script does. However, I'm not sure it's actually calculating richnessYearsTest with each grain, since the site column is already concatenated in dataset7.  I may not understand what ri

[2016-08-03 19:09] mollyfrn opened #100 "Find GPS coordinates for US BBS stops"
GPS coordinate data available at route but not sub-route scale. Coordinate data available for Canadian BBS route stops, but seemingly nonexistent for US data. I've checked all of our folders and the folders in BioArk, and it seems until 2014 this data was available but then pulled from the BBS website.

[2016-08-03 22:01] ahhurlbert commented on #99
I think you're right that richnessYearsTest may simply check that there is sufficient data (# species, # years) at the coarsest spatial scale.

If that's the case, we may have to effectively "throw out" the coarser grain info (temporarily within the loop) before running that test.

For a number of datasets, the finer scales may not have sufficient data, in which case even though they are hierarchi

[2016-08-04 17:43] mollyfrn commented on #100
Unless data is "hidden", best current option will be to download the route shapefiles and approximate stop locations along the route based on however many segments comprise a given route at a given scale (in a GIS?). I can then assign coordinates to segment endpoints. They won't be perfectly accurate, but hopefully they will be suitable for our purposes.

[2016-08-04 17:43] #100 closed

[2016-08-05 16:20] ssnell6 commented on #99
Fixed problem 1 with changing date format, but still need to figure out how to successfully isolate each grain and run each separately through the loop.

[2016-08-31 19:51] ssnell6 commented on #99
This code is messing up the dates with just year values and I can't figure out why. It says the number of characters are > 4 but it's just years (says its 5 characters). Also the 4 character dates are getting wiped with the command and changed to NA when the second line is run.

if (nchar(as.character(dataset7$date)[1]  > 4)) {
      dataset7$date = as.POSIXct(strptime(as.character(dataset7$date),

[2017-02-27 18:19] ssnell6 opened #101 "working on areas"
For Allen:
We need to double check the scaled areas for Fig 3A

[2017-02-28 22:41] ahhurlbert commented on #51
Now returns both of these subsampling levels (for the focal grain of analysis) and saves them to the data formatting table.

[2017-02-28 22:41] #51 closed

[2017-02-28 22:41] ahhurlbert commented on #58
@mollyfrn has done these preliminary analyses. We will return to them later.

[2017-02-28 22:41] #58 closed

[2017-02-28 22:42] ahhurlbert commented on #99
@ssnell6 has this been resolved? If so, we can close the issue.

[2017-02-28 22:53] ahhurlbert opened #102 "file organization"
@ssnell6 and @mollyfrn can you both please help clean up and organize all of the files within this repository?

Home directory: this should be pretty bare, including the README's, the data formatting table and field descriptions, and perhaps the env_data_sources, but not much more.

I've just deleted a number of figures (.pdfs and .jpgs) from the home directory that do not belong, but the rest of

[2017-02-28 23:04] #99 closed

[2017-02-28 23:05] ssnell6 commented on #102
This is probably mostly my stuff, I can clean it up

[2017-03-01 14:37] ahhurlbert commented on #101
Let me know once you've gotten the area assignments fixed (when we last went over it together, the largest spatial grains had the smallest areas and vice versa), and then I'll give this a thorough check

[2017-03-01 16:32] ssnell6 commented on #102
moved env_data_sources to data repo

[2017-03-01 20:00] ssnell6 commented on #101
fixed. deleted old files and created a single area file called "scaled_areas_3_1.csv"

[2017-05-16 17:09] #101 closed

[2017-07-28 18:57] ahhurlbert opened #103 "Fix Figure 1c, #assemblages"
The fact that the number of bird assemblages is >10000 makes me think that this figure is portraying the number of assemblages including each different spatial scale as another assemblage.

I think it would be more useful to convey the number of assemblages at the one scale chosen for analysis in the non-scale portions of the paper.

[2017-07-31 15:54] ahhurlbert opened #104 "Figure 4 axis label"
Delete "% Transients" on y-axis label of each panel, and replace with a single marginal y-axis label spanning both panel rows stating "Proportion transient species"

[2017-08-15 16:25] ssnell6 commented on #104
fixed, and fixed script file names to reflect correct numbering

[2017-08-15 16:25] #104 closed

[2017-08-15 17:40] ssnell6 commented on #103
it looks like only the bbs included all the scales, not sure why we chose to do it that way before. I subsetted to the route scale level bbs dataset, new figure is in output.

[2017-11-01 15:38] ahhurlbert commented on #103
@ssnell6 I don't think this has been addressed yet. Still need to adjust Fig 2 accordingly, as it must still be counting different scales of the same assemblage.

[2017-11-01 18:00] ssnell6 commented on #103
The label in 2b is wrong - the terrestrial # of assemblages is 1462. I fixed the label in the repo and MS

[2018-02-24 20:00] ethanwhite commented on #40
I've repeatedly emailed over the last 2.5 years with no success. @ahhurlbert - you're working with this now right? So, I'm handing this one over to you (but would love to know any tips for getting this data).

[2018-02-26 01:56] ahhurlbert commented on #40
Will talk to Leslie Ries about this this week.

[2018-03-30 19:29] ethanwhite commented on #69
Since the BBC work has stalled I'm going to go ahead and close this for now. If we get back to the point of wanting it again let me know and I'll pick this back up.

[2018-03-30 19:29] #69 closed